body
{background-color: rgb(242, 245, 101);color: rgb(0, 0, 0);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin:100px 0px 0px 0px}
h1
{color: rgb(0, 38, 255);text-align: center;}
{font-size 14pi}
img {float: right;}
div {background-color: azure; }
img {border-style: dotted; border-color: rgb(0, 255, 255);}